{# templates/answerList.html.twig #}
{% extends 'base.html' %}
{% block menu %}
    {% include 'menu.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
<div class="sign">
    <a href="{{ path('answer', { 'examId': examId, 'questionId': questionId}) }}" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign"></span> Add new answer
    </a>
</div>
        {% if information==true %}
<table>
    <tr>
        <td class="col-md-1">Id</td>
        <td class="col-md-1">Content</td>
        <td class="col-md-1">Is true</td>
        <td class="col-md-1">Is active</td>
        <td class="col-md-1"></td>
    </tr>
    {% for action in data %}
    {% if (action.id !="" or action.id=="0") %}
        <tr>
            <td class="col-md-1"> {{ action.id|default('undefined') }}  </td>
            <td class="col-md-1"> {{ action.content|default('undefined') }}  </td>
            <td class="col-md-1"> {{ action.is_true|default('') }} </td>
            <td class="col-md-1"> {{ action.is_active|default('') }} </td>

            <td class="col-md-1" ><div class="sign">
                    <a href="{{ path('deleteAnswer', { 'exam': examId, 'question': questionId, 'answer': action.id}) }}" title="delete answer">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                    <a href="{{ path('editAnswer', { 'examId': examId, 'questionId': questionId, 'id' : action.id }) }}" title="edit answer">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endif %}
    {% endfor%}
    </table>
        {% endif %}
        <button type="button" class="btn btn-default btn-sm">
            <a href="{{ path('questionList', { 'id' : examId }) }}" class="glyphicon glyphicon-chevron-left">Back</a>
        </button>
    </div>
{% endblock %}