{# templates/examList.html.twig #}
{% extends 'base.html' %}
{% block menu %}
    {% include 'menu.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="sign">
        <a href="{{ path('exam') }}" class="btn btn-info btn-lg buttonNav">
            <span class="glyphicon glyphicon-plus-sign"></span> Add new exam
        </a>
    </div>
    {% for error in infoDelete %}
        {{ error.message }}
    {% endfor %}

    {% if information==true %}
<table>
    <tr class="informationRow">
        <th class="ISort col-lg-3 col-md-12 col-sm-12">Id</th>
        <th class="SSort col-lg-3 col-md-3 col-sm-3">Name</th>
        <th class="SSort col-lg-3 col-md-3 col-sm-3">Learning required</th>
        <th class="ISort col-lg-3 col-md-12 col-sm-12">Maximum questions</th>
        <th class="ISort col-lg-3 col-md-12 col-sm-12">Maximum attempts</th>
        <th class="ISort col-lg-3 col-md-12 col-sm-12">Duration of exam</th>
        <th class="ISort col-lg-3 col-md-12 col-sm-12">Percentage passed exam</th>
        <th class="ISort col-lg-3 col-md-12">Created by (user id)</th>
        <th class="col-lg-3 col-md-2 col-sm-2">Start date</th>
        <th class="col-lg-3 col-md-2 col-sm-2">End date</th>
        <th class="col-lg-3 col-md-2 col-sm-2">Additional Information</th>
        <th class="col-lg-3 col-md-12 col-sm-12"></th>
    </tr>
    {% for action in data|sort %}
        {% if action.id !="" or action.id=="0" %}
        <tr>
        <td class="col-lg-3 col-md-12 col-sm-12"> {{ action.id|default('undefined') }}  </td>
        <td class="col-lg-3 col-md-3 col-sm-3"> {{ action.name|default('undefined') }}  </td>
        <td class="col-lg-3 col-md-3 col-sm-3"> {{ action.learning_required|default('undefined') }} </td>
        <td class="col-lg-3 col-md-12 col-sm-12"> {{ action.max_questions|default('') }} </td>
        <td class="col-lg-3 col-md-12 col-sm-12"> {{ action.max_attempts|default('') }} </td>
        <td class="col-lg-3 col-md-12 col-sm-12"> {{ action.duration_of_exam|default('') }}</td>
        <td class="col-lg-3 col-md-12 col-sm-12"> {{ action.percentage_passed_exam|default('') }}</td>
        <td class="col-lg-3 col-md-12 col-sm-12"> {{ action.created_by|default('') }}</td>
        <td class="col-lg-3 col-md-2 col-sm-12"> {{ action.start_date|default('') }}</td>
        <td class="col-lg-3 col-md-2 col-sm-12"> {{ action.end_date|default('') }}</td>
        <td class="col-lg-3 col-md-2 col-sm-12"> {{ action.additional_information|default('') }}</td>
        <td class="col-lg-3 col-md-12 col-sm-12"><div class="sign">
                <a href="{{ path('delete', { 'exam': action.id }) }}">
                    <span class="glyphicon glyphicon-remove-sign" title="delete exam"></span>
                </a>
                <a href="{{ path('editExam', { 'id': action.id }) }}">
                    <span class="glyphicon glyphicon-pencil" title="edit exam"></span>
                </a>
                <a href="{{ path('questionList', { 'id': action.id }) }}" title="Question list">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
        </div>
        </td>
    </tr>
        {% endif %}
    {% endfor%}
</table>
    {% endif %}
</div>
{% endblock %}
