{# templates/examList.html.twig #}
{% extends 'base.html' %}
{% block menu %}
{% include 'menu.html.twig' %}
{% endblock %}
{% block body %}
<div class="container">
<div class="sign">
    <a href="{{ path('exam') }}" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign"></span> Add new exam
    </a>
</div>
    {% for error in infoDelete %}
        {{ error.message }}
    {% endfor %}

    {% if information==true %}
<table>
    <tr class="informationRow">
        <td>Id</td>
        <td>Name</td>
        <td>Learning required</td>
        <td>Maximum questions</td>
        <td>Maximum attempts</td>
        <td>Duration of exam</td>
        <td>Percentage passed exam</td>
        <td>Created by (user id)</td>
        <td>Start date</td>
        <td>End date</td>
        <td>Additional Information</td>
        <td></td>
    </tr>
    {% for action in data|sort %}
        {% if action.id !="" or action.id=="0" %}
        <tr>
        <td> {{ action.id|default('undefined') }}  </td>
        <td> {{ action.name|default('undefined') }}  </td>
        <td> {{ action.learning_required|default('undefined') }} </td>
        <td> {{ action.max_questions|default('') }} </td>
        <td> {{ action.max_attempts|default('') }} </td>
        <td> {{ action.duration_of_exam|default('') }}</td>
        <td> {{ action.percentage_passed_exam|default('') }}</td>
        <td> {{ action.created_by|default('') }}</td>
        <td> {{ action.start_date|default('') }}</td>
        <td> {{ action.end_date|default('') }}</td>
        <td> {{ action.additional_information|default('') }}</td>
        <td><div class="sign">
                <a href="{{ path('delete', { 'exam': action.id }) }}">
                    <span class="glyphicon glyphicon-remove-sign" title="delete exam"></span>
                </a>
                <a href="{{ path('editExam', { 'id': action.id }) }}">
                    <span class="glyphicon glyphicon-pencil" title="edit exam"></span>
                </a>
                <a href="{{ path('questionList', { 'id': action.id }) }}" title="Question list">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
        </div>
        </td>
    </tr>
        {% endif %}
    {% endfor%}
</table>
    {% endif %}
</div>
{% endblock %}
