{# templates/questionList.html.twig #}
{% extends 'base.html' %}
{% block menu %}
    {% include 'menu.html.twig' %}
{% endblock %}
{% block body %}
    <nav> Learning Materials Group Id {{ learningMaterialsGroupId }}</nav>
    <div class="sign">
        <a href="{{ path('learningMaterial', { 'learningMaterialsGroupId': learningMaterialsGroupId}) }}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus-sign"></span> Add new learning material
        </a>
    </div>
{% if( information == true) %}
    <table>
        <tr>
            <td>Id</td>
            <td>Learning materials group id</td>
            <td>Name</td>
            <td>Name of content</td>
            <td>Is required</td>
            <td></td>
        </tr>
        {% for action in data|sort %}
            <tr>
                <td>{{ action.id|default('') }}  </td>
                    <td>{{ action.learning_materials_group_id|default('') }}</td>
                    <td>{{ action.name|default('') }}  </td>
                    <td>{{ action.name_of_content|default('') }}  </td>
                    <td>{{ action.is_required|default('') }}  </td>
                    <td>
                        <a href="{{ path('deleteMaterial', { 'learningMaterialsGroupId': learningMaterialsGroupId, 'learningMaterial': action.id }) }}" title="delete learning material">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                        <a href="{{ path('editLearningMaterial', { 'groupId': learningMaterialsGroupId, 'id': action.id }) }}" title="edit learning materials group">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="http://files01.radiokomunikacja.edu.pl/{{action.name_of_content}}" target="_blank">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                        <a href="{{ path('learningMaterialDownload', { 'learningMaterialsGroupId': learningMaterialsGroupId, 'learningMaterialId': action.id }) }}">
                            <span class="glyphicon glyphicon-download"></span>
                        </a>
                    </td>
            </tr>
            {% endfor%}
        </table>
{% endif %}

    </div>
{% endblock %}