{% extends 'base.html' %}
{% block body %}

 {{ exam_name }}


<div class="container">
    <div class="row">
        <div class="col-md-2"> Czas przeznaczony na rozwiązanie egzaminu : {{ time }} min  </div>

    </div>
    <div class="materials">
        {% if required_materials!="" %}
            <p><b>Wymagane materiały:</b></p>
        {% for action in required_materials|sort %}
            {% if action.id !="" or action.id=="0" %}
                <p><a href="http://files01.radiokomunikacja.edu.pl/{{ action.name_of_content }}">{{ action.name}}</a></p>
            {% endif %}
        {% endfor %}
        {% endif %}

        <p><b>Dodatkowe materiały:</b></p>
        {% if required_materials!="" %}
            {% for materials in additional_materials|sort %}
                <p><a href="http://files01.radiokomunikacja.edu.pl/{{ materials.name_of_content }}">{{ materials.name}}</a></p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="buttons">
        <a href="{{ path('studentExam', { 'userExamId' : user_exam_id }) }}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus-sign"></span> Start Exam
        </a>
    </div>
</div>

{% endblock %}