{% extends 'base.html' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

<div class="container studentExam">
    <div class="row">
        <p><b>{{ exam_name }}</b></p>
        <p><b> Czas przeznaczony na rozwiązanie egzaminu : </b> {{ time }} min </p>
    </div>
    <div class="materials">
        {% if groupInfo %}
        {% if required_materials!="" %}
            <p><b>Wymagane materiały:</b></p>
            {% for action in required_materials|sort %}
                {% if action.id !="" or action.id=="0" %}
                    <p><a href="http://files01.radiokomunikacja.edu.pl/{{ action.name_of_content }}">{{ action.name}}</a></p>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if additional_materials!="" %}
            <p><b>Dodatkowe materiały:</b></p>
            {% for materials in additional_materials|sort %}
                <p><a href="http://files01.radiokomunikacja.edu.pl/{{ materials.name_of_content }}">{{ materials.name}}</a></p>
            {% endfor %}
        {% endif %}
        {% endif %}
    </div>
    <div class="buttons">
        <a href="{{ path('studentExam', { 'userExamId' : user_exam_id }) }}" class="btn btn-info btn-lg buttonNav">
            <span class="glyphicon glyphicon-play"></span> Start Exam
        </a>
    </div>
</div>

{% endblock %}