{# templates/teacherExamList.html.twig #}
{% extends 'base.html' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="signClass">
            <a href="{{ path('teacherUserList') }}" class="btn btn-info btn-lg buttonNav" style="float: none">
                <span class="glyphicon glyphicon-arrow-right"></span> Lista użytkowników
            </a>
            <a href="{{ path('exam')}}" class="btn btn-info btn-lg buttonNav">
                <span class="glyphicon glyphicon-plus-sign"></span> Dodaj nowy egzamin
            </a>
        </div>
        <div class="list">
            <p><b>Lista dostępnych egzaminów : </b></p>
            <div>
                {% for action in data %}
                    <p><a href="{{ path('teacherExamInfo', { 'exam': action.id}) }}">
                            {{ action.name|default('undefined') }} </a></p>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}