{# templates/teacherExamInfo.html.twig #}
{% extends 'base.html' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="sign">
            <a href="{{ path('teacherExamList') }}" class="btn btn-info btn-md buttonNav floatNone">
                <span class="glyphicon glyphicon-home"></span> Strona główna
            </a>
            <a href="{{ path('delete', { 'exam': exam_id}) }}" class="btn btn-info btn-md buttonNav floatNone">
                <span class="glyphicon glyphicon-remove-sign"></span> Usuń egzamin
            </a>
            <a href="{{ path('editExam', { 'id': exam_id}) }}" class="btn btn-info btn-md buttonNav floatNone">
                <span class="glyphicon glyphicon-pencil"></span> Edytuj egzamin
            </a>
            <a href="{{ path('question', { 'examId': exam_id}) }}" class="btn btn-info btn-md buttonNav floatNone">
                <span class="glyphicon glyphicon-plus-sign"></span> Dodaj nowe pytanie
            </a>
            <a href="{{ path('userExam') }}" class="btn btn-info btn-md buttonNav floatNone">
                <span class="glyphicon glyphicon-plus-sign"></span> Przypisz użytkownika do egzaminu
            </a>
            <a href="{{ path('learningMaterialsGroupExam') }}" class="btn btn-info btn-md buttonNav floatNone">
                <span class="glyphicon glyphicon-plus-sign"></span> Przypisz grupę materiałów naukowych do egzaminu
            </a>
        </div>
        <div>
            {% for action in data %}
                <p><b>Nazwa egzaminu :</b> {{ action.name|default('undefined') }}</p>
                <p><b>Czy materiały naukowe są wymagane :</b> {{ action.learning_required|default('undefined') }}</p>
                <p><b>Maksymalna liczba pytań :</b> {{ action.max_questions|default('undefined') }}</p>
                <p><b>Maksymalna liczba prób :</b> {{ action.max_attempts|default('undefined') }}</p>
                <p><b>Próg zdawalności [%]</b> {{ action.percentage_passed_exam|default('undefined') }}</p>
                <p><b>Czas trwania egzaminu</b> : {{ action.duration_of_exam|default('undefined') }}</p>
                <p><b>Data rozpoczęcia dostępu do egzaminu :</b> {{ action.start_date|default('undefined') }}</p>
                <p><b>Data zakończenia dostępu do egzaminu :</b> {{ action.end_date|default('undefined') }}</p>
                <p><b>Dodatkowe informacje :</b> {{ action.additional_information|default('undefined') }}</p>
            {% endfor%}
        </div>
        <div class="teacherInfo">
            <b>Lista pytań dla egzaminu:</b>
            {% if information_question==true %}
                {% for question in question_data %}
                    <p><a href="{{ path('teacherQuestionInfo', { 'exam': exam_id, 'question': question.id}) }}"> {{ question.content|default('') }} </a></p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="teacherInfo">
            <b>Grupy materiałów naukowych przypisanych do egzaminu:</b>
            {% if informationMaterialGroupExam==true %}
                {% for materials_group in materials_group_data %}
                    <p><a href="{{ path('teacherLearningMaterialsInfo', { 'groupId': exam_id}) }}"> {{ materials_group.name_of_group }} </a>
                    <a href="{{ path('deleteLearningMaterialsGroupExam', { 'id': id }) }}" title="Usuń">
                        <span class="glyphicon glyphicon-remove-sign"></span> Usuń
                    </a></p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="teacherInfo">
            <b>Lista użytkowników przypisanych do egzaminu:</b>
            {% if informationUserExam==true %}
                {% for user_data in user_info_data %}
                    <p>{{ user_data.first_name|default('') }}  {{ user_data.last_name|default('')}} - <b>Klasa:</b> {{ user_data.group_of_students|default('') }} <b>Adres e-mail:</b> {{ user_data.email|default('')}}
                    <a href="{{ path('deleteUserExam', { 'userExamId': user_data.user_exam_id|default('')}) }}" title="Usuń">
                        <span class="glyphicon glyphicon-remove-sign"></span> Usuń
                    </a></p>
                    <a href="{{ path('teacherResultInfo', { 'userExam': user_data.user_exam_id|default('') }) }}" title="Result list">
                        <span class="glyphicon glyphicon-list"></span> Wyniki
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}