{# templates/userList.html.twig #}
{% extends 'base.html' %}
{% block menu %}
    {% include 'menu.html.twig' %}
{% endblock %}
{% block body %}
<div class="container">
<div class="sign">
    <a href="{{ path('user') }}" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign"></span> Add new user
    </a>
</div>
    {% for error in infoDelete %}
        {{ error.message }}
    {% endfor %}
    {% if( information == true) %}

    <table>
    <tr>
        <td>Id</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Email</td>
        <td>Role</td>
        <td>Group of students</td>
        <td>Last login</td>
        <td>Last password change</td>
        <td>Date Registration</td>
        <td></td>
    </tr>
    {% for action in data|sort %}
            {% if action.id !="" or action.id=="0" %}
            <tr>
            <td> {{ action.id|default('') }}  </td>
            <td> {{ action.first_name|default('') }} </td>
            <td> {{ action.last_name|default('') }} </td>
            <td> {{ action.email|default('') }}</td>
            <td> {{ action.role|default('') }}</td>
            <td> {{ action.group_of_students|default('') }}</td>
            <td> {{ action.last_login|default('') }}</td>
            <td> {{ action.last_password_change|default('') }}</td>
            <td> {{ action.date_registration|default('') }}</td>
            <td> <a href="{{ path('userDelete', { 'userId': action.id }) }}">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
                <a href="{{ path('editUser', { 'id': action.id }) }}">
                <span class="glyphicon glyphicon-pencil"></span>
                </a>

            </td>
        </tr>
            {% endif %}
    {% endfor%}
</table>
    {% endif %}

</div>
{% endblock %}
